name: Deploy to My Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: SSH to Server and Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ~/bnsp-myapp2
            git pull
            sudo docker rm -f bnsp-web || true
            sudo docker build -t bnsp-myapp2:latest .
            sudo docker run -d -p 8080:80 --name bnsp-web bnsp-myapp2:latest
